In [15]:
from py2neo import Graph, Node, Relationship
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

gdb = Graph(user='neo4j', password='naiin')

q = """
MATCH (u:Product) RETURN id(u)
"""
res = gdb.run(q)
id_node = pd.DataFrame(res)
id_node = id_node.rename(columns={0: "id"})

In [16]:
id_node.head()

      id
0  45474
1  45475
2  45476
3  45477
4  45478

In [22]:
id_node['id'].sample(n=10, random_state=7)

6362    60869
1170    46644
1704    47178
2553    48027
4230    56509
5105    59612
2311    47785
4205    56484
4115    56394
2722    48196
Name: id, dtype: int64